@font-face {
	font-family: "Sterion";
	src: url("../fonts/SterionRegular.ttf");
}

@font-face {
	font-family: "JetBrainsRegular";
	src: url("../fonts/JetBrainsMonoNerdFont-Regular.ttf");
}

body {
	margin: 0 !important;
	font-family: "JetBrainsRegular";
}

.intro {
	background: linear-gradient(-165deg, lightblue 0%, darkblue 100%);
	font-family: "Sterion";
	color: white;
	text-shadow: 3px 3px black;
	height: 32em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.intropanelbarholder {
	background-color: "#aa0000";
	border-radius: 4px;
	overflow: hidden;
	width: 100%;
}

.intropanelbar {
	border: solid 5px red;
	display: flex;
	gap: 2em;
	white-space: nowrap
}

.intropanel {
	height: 15em;
	width: 20em;
	padding: 5px;
	border-radius: 5px;
	border: solid 2px white;
	background-color: #050505;
	box-shadow: 5px 5px 10px darkblue;
	animation: scroll 20s linear infinite;
	flex-shrink: 0;
}

@keyframes scroll {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.image {
	object-fit: cover;
	border: 1px white solid;
	border-radius: 5px;
	height: 70%;
	width: 100%;
}

