@font-face {
	font-family: "Sterion";
	src: url("../fonts/SterionRegular.ttf");
}

@font-face {
	font-family: "JetBrainsRegular";
	src: url("../fonts/JetBrainsMonoNerdFont-Regular.ttf");
}

body {
	margin: 0 !important;
	font-family: "JetBrainsRegular";
}

h1 {
	font-size: 3em;
}

.intro {
	background: linear-gradient(-165deg, lightblue 0%, darkblue 100%);
	font-family: "Sterion";
	color: white;
	text-shadow: 3px 3px black;
	height: 32em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.marquee-container {
	width: 100%;
	border-radius: 4px;
	overflow: hidden;
	display: flex;
}

.marquee {
	display: flex;
	width: 140vw;
	gap: 2em;
	padding: 0 1em 0 1em;
	animation: scroll 25s linear infinite;
}

.panel {
	height: 15em;
	width: 20em;
	padding: 5px;
	border-radius: 5px;
	border: solid 2px white;
	background-color: #050505;
	box-shadow: 5px 5px 10px darkblue;
	flex-shrink: 0;
}

@keyframes scroll {
	from { transform: translateX(0%); }
	to { transform: translateX(-100%); }
}

.image {
	object-fit: cover;
	border: 1px white solid;
	border-radius: 5px;
	height: 70%;
	width: 100%;
}

