@font-face {
	font-family: "JetBrainsRegular";
	src: url("../fonts/JetBrainsMonoNerdFont-Regular.ttf");
}

.navtitle {
	color: white;
	font-family: "Sterion";
	font-size: 2em;
	text-decoration: none;
}

.topbar {
	border: none;
	background-color: #050505;
    width: 99.5%;
    color: white;
    padding: 10px 5px 10px 5px;
    text-align: center;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

