@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Nasalization";
  src: url("/fonts/Nasalization.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "IBM BIOS";
  src: url("/fonts/Ac437_Acer710_CGA.ttf") format("truetype");
  font-weight: normal;
}

:root {
  background: #000000;
  color: #eaeaea;
  font-family: "FiraCode";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

h2,
h3 {
  font-family: "IBM BIOS";
}

p {
  font-size: 20px;
}

.title-container {
  display: flex;
}

#title,
.cursor {
  font-family: "IBM BIOS";
}

.cursor {
  opacity: 0%;
  animation:
    blink 0.6s step-end 4,
    fadeOut 1s forwards 2.4s;
}

@keyframes blink {
  50% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

#content {
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  box-sizing: border-box;
}

.about {
  display: flex;
  border: solid #2a2a2a 3px;
  border-radius: 100px;
  padding: 20px;
  gap: 40px;
  margin-bottom: 20px;
}

.about > div:first-child {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 100%;
  border-radius: 50%;
}

.info {
  width: 100%;
  margin-right: 30px;
}

.iconlink {
  width: 32px;
  height: 32px;
  filter: invert(1);
  transition: 0.3s ease-in-out;
}

.iconlink:hover {
  filter: invert(0.7);
  transform: scale(1.1);
}

.toolkit-container {
  display: flex;
  justify-content: space-evenly;
  border: solid #2a2a2a 3px;
  border-radius: 100px;
}

.toolkit-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  border-left: solid #2a2a2a 3px;
  width: 100%;
}

.toolkit-section:first-child {
  border-left: none;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid #2a2a2a 3px;
  border-radius: 25px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}

.titlebox {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	gap: 25px;
}

.infobox {
  text-align: center;
}

.thumbnail {
  width: 60%;
  border: solid #2a2a2a 3px;
  border-radius: 50px;
  object-fit: cover;
}

@media (max-width: 1000px) {	
	#content {
	  padding-left: 5%;
	  padding-right: 5%;
	}
}

@media (max-width: 750px) {	
	#content {
	  padding-left: 2%;
	  padding-right: 2%;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
	  font-size: 18px;
	}

	p {
	  font-size: 15px;
	}

	.thumbnail {
  	  width: 80%;
	}

	.iconlink {
	  width: 24px;
	  height: 24px;
	}

	.toolkit-section {
	  padding: 0 5px;
	}
}

@media (max-width: 540px) {	
	#content {
	  padding-left: 0%;
	  padding-right: 0%;
	}

	.about {
	  padding: 10px;
	}

	h2 {
		font-size: 15px;
	}

	h3 {
	  font-size: 10px;
	}

	p {
	  font-size: 10px;
	}

	.iconlink {
	  width: 16px;
	  height: 16px;
	}

	.toolkit-section {
	  padding: 0 0;
	}
	
	.thumbnail {
  	  width: 100%;
	}
}

